body {
background-color: skyblue;
display: flex;
  align-items: center;
  justify-content: center;

  height:100px;

}
.sun{
width:100px;
  height:100px;
  background-color: orange;

  position: relative;
  

}
@keyframes sunSettingColorchange{

}